.titleBlock{
  height: 80px;
  background-color: #3f51b5;
  display: flex;
  justify-content: center;
  align-items: center;
}
.title{
  h1{
    margin: 0;
    text-transform: uppercase;
    font-size: 36px;
    color: #fff;
  }

}

.icons{
  position: absolute;
  left: 40px;
  //width: 80px;
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.search{
  display: flex;
  align-items: center;
  margin-left: 8px;

  input{
    outline: none;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
  }
}

.searchBtn {
  margin-left: 8px;
  padding: 0;
  color: #fff;
  border: none;
  outline: none;
  font-size: 16px;
  background: none;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}