.registrationForm {
  position: relative;

  .inputBox {
    position: relative;
    width: 100%;

    .error {
      position: absolute;
      bottom: 6px;
      left: 0;
      color: red;
    }
  }
}




